@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Open Sans", sans-serif;
}

@theme {
  --color-primary: rgb(79, 191, 139);
  --color-primary-dull: #d1fae5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
